@import "@fortawesome/fontawesome-free/css/all.css";
@import "@fortawesome/fontawesome-free/css/brands.css";
@import "@fortawesome/fontawesome-free/css/regular.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --sidebar-txt-color-1:#ececec;
    --sidebar-txt-color-2:#1f1f1f;
    --sidebar-bg-color-1: #1f1f1f;
    --sidebar-bg-color-2: #ececec;
    --sidebar-border-color-1: #1f1f1f;
    --sidebar-border-color-2: #ececec;

    --txt-color-1: #060146;
    --txt-color-2: #ececec;
    --border-color-1: #091131;
    --border-color-2: #ececec;
    --background-color-primary-1  : #ffffff;
    --background-color-secundary-1: #1f1f1f;
    --background-color-primary-2  : #f1f1f1;
    --background-color-secundary-2: #3f3f3f;
    --background-color-primary-3  : #dfdfdf;
    --background-color-secundary-3: #5f5f5f;
    --background-color-primary-4  : #98ddff;
    --background-color-secundary-4: #d4d4d4;
    --background-color-primary-5  : #76cdf8;
    --background-color-secundary-5: #ececec;

    --border-size: 1px;
    --border-radius: 6px;
}

/**********************/
.propuestas{
    margin: 12px;
    border-width: var(--border-size);
    border-radius: var(--border-radius);
    border-color: var(--border-color-2);
    height: calc(100vh - 128px);
}

.focusItem{
    border-bottom-width:calc(var(--border-size) + 3px);    
}

.isHover:hover{
    border-bottom-width:calc(var(--border-size) + 3px);
}

.BoxImages{
    --item: 1;
}

.BoxImages img{
    display: none;
}

.BoxImages img:nth-of-type(var(--item)){
    display: block;
}

.fullScreenMedia{
    position: absolute;
}
/**********************/

body{
    background-color: var(--background-color-primary-1);
}

button{
    padding: 4px;
    border-width: var(--border-size);
    border-radius: var(--border-radius);
    border-color: var(--border-color-1);
    color: var(--txt-color-1);
}

button:hover{
    color: var(--txt-color-2);
    background-color: var(--background-color-secundary-1);
}

textarea{
    background-color: var(--background-color-primary-1);
    border-width: var(--border-size);
    border-radius: var(--border-radius);
    border-color: var(--border-color-1);
    color: var(--txt-color-1);
}

footer{
    background-color: var(--background-primary-1);
    box-shadow: 0px -1px 4px var(--border-color-1);
}

input[type=text]{
    background-color: transparent;
    color: var(--txt-color-1);
}

input[type=number]{
    background-color: transparent;
    color: var(--txt-color-1);
}

input[type=color]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 43px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

input[type=color]::-webkit-color-swatch{
    border-radius: var(--border-radius);
    border:none;
    box-shadow: 1px 1px 1px var(--border-color-1);
}

input[type=color]::-moz-color-swatch{
    border-radius: var(--border-radius);
    border:none;
    box-shadow: 1px 1px 2px var(--border-color-1);
}

.bg-color-primary-1{
    background-color: var(--background-color-primary-1);
}

.bg-color-primary-2{
    background-color: var(--background-color-primary-2);
}

.bg-color-primary-3{
    background-color: var(--background-color-primary-3);
}

.bg-color-primary-4{
    background-color: var(--background-color-primary-4);
}

.bg-color-primary-5{
    background-color: var(--background-color-primary-5);
}

.bg-color-secundary-1{
    background-color: var(--background-color-secundary-1);
}

.bg-color-secundary-2{
    background-color: var(--background-color-secundary-2);
}

.bg-color-secundary-3{
    background-color: var(--background-color-secundary-3);
}

.bg-color-secundary-4{
    background-color: var(--background-color-secundary-4);
}

.bg-color-secundary-5{
    background-color: var(--background-color-secundary-5);
}

.border{
    border-width: var(--border-size);
}

.border-t{
    border-top-width: var(--border-size);
}

.border-b{
    border-bottom-width: var(--border-size);
}

.border-l{
    border-left-width: var(--border-size);
}

.border-r{
    border-right-width: var(--border-size);
}

.border-tl{
    border-top-width: var(--border-size);
    border-left-width: var(--border-size);
}

.border-tr{
    border-top-width: var(--border-size);
    border-right-width: var(--border-size);
}

.border-bl{
    border-bottom-width: var(--border-size);
    border-left-width: var(--border-size);
}

.border-br{
    border-bottom-width: var(--border-size);
    border-right-width: var(--border-size);
}

.border-c1{
    border-color: var(--border-color-1);
}

.border-c2{
    border-color: var(--border-color-2);
}

.border-shadow-c1{
    box-shadow: var(--border-size) var(--border-size) 3px var(--border-color-1);
}

.border-shadow-c2{
    box-shadow: var(--border-size) var(--border-size) 3px var(--border-color-1);
}

.box-scroll{
    overflow:auto;
    height: calc(100vh - 64px);
}

.box-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.box-scroll::-webkit-scrollbar:vertical {
    width:10px;
}

.box-scroll::-webkit-scrollbar-button:increment,.box-scroll::-webkit-scrollbar-button {
    display: none;
} 

.box-scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

.box-scroll::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.box-scroll::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.box-items{
    border-radius: var(--border-radius);
    margin: 8px;
    padding: 2px;
}

.drag-drop-area{
    border-style: dashed;
    border-width: 2px;
    border-color: #6e6e6e;
}

.drag-drop-area>h1{
    text-align: center;
    color: #6e6e6e;
}

.rounded{
    border-radius: var(--border-radius);
}

.rounded-t{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.rounded-b{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.rounded-l{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.rounded-r{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.rounded-bl{
    border-bottom-left-radius: var(--border-radius);
}

.rounded-br{
    border-bottom-right-radius: var(--border-radius);
}

.rounded-tl{
    border-top-left-radius: var(--border-radius);
}

.rounded-tr{
    border-top-right-radius: var(--border-radius);
}

.sidebar{
    @apply /* w-14 transition duration-200 hover:transition-all hover:duration-200 hover: */w-72 overflow-x-hidden  shadow-md fixed inset-y-0 z-40;
    background-color: var(--sidebar-bg-color-1);
    color: var(--sidebar-txt-color-1);
    box-shadow: 0px -1px 4px var(--sidebar-border-color-2);
}

.sidebar-right{
    @apply right-0;
}


.sidebar h1{
    @apply truncate;
}

.sidebar nav{
    @apply text-clip text-xl;
}

.sidebar>ul{
    @apply text-clip text-xl;
    color: var(--sidebar-txt-color-1);
}

.sidebar>ul>li{
    @apply my-1 p-1 rounded mx-2;
}

.sidebar>ul>li:hover{
    color: var(--sidebar-txt-color-2);
    background-color: var(--sidebar-bg-color-2);
}

.sidebar i{
    @apply mr-5;
}

.txt-c1{
    color: var(--txt-color-1);
}

.txt-c2{
    color: var(--txt-color-2);
}