
:root{
    --sidebar-txt-color-1:#201c49;
    --sidebar-txt-color-2:#fafafa;
    --sidebar-bg-color-1: #fafafa;
    --sidebar-bg-color-2: #201c49;
    --sidebar-border-color-1: #fafafa;
    --sidebar-border-color-2: #201c49;

    --txt-color-1: #201c49;
    --txt-color-2: #fafafa;
    --border-color-1: #201c49;
    --border-color-2: #fafafa;
    --background-color-1: #fafafa;
    --background-color-2: #201c49;

    --border-size: 1px;
    --border-radius: 6px;
}

body{
    background-color: var(--background-color-1);
}

button{
    border-width: var(--border-size);
    border-radius: var(--border-radius);
    border-color: var(--border-color-1);
    color: var(--txt-color-1);
}

button:hover{
    color: var(--txt-color-2);
    background-color: var(--background-color-2);
}

textarea{
    background-color: var(--background-color-1);
    border-width: var(--border-size);
    border-radius: var(--border-radius);
    border-color: var(--border-color-1);
    color: var(--txt-color-1);
}

footer{
    background-color: var(--background-color-1);
    box-shadow: 0px -1px 4px var(--border-color-1);
}


.sidebar{
    @apply w-14 transition duration-200 hover:transition-all hover:duration-200 hover:w-72 overflow-x-hidden  shadow-md fixed inset-y-0 z-50;
    background-color: var(--sidebar-bg-color-1);
    color: var(--sidebar-txt-color-1);
    box-shadow: 0px -1px 4px var(--sidebar-border-color-2);
}

.sidebar h1{
    @apply truncate;
}

.sidebar nav{
    @apply text-clip text-xl;
}

.sidebar>ul{
    @apply text-clip text-xl;
    color: var(--sidebar-txt-color-1);
}

.sidebar>ul>li{
    @apply my-1 p-1 rounded mx-2;
}

.sidebar>ul>li:hover{
    color: var(--sidebar-txt-color-2);
    background-color: var(--sidebar-bg-color-2);
}

.sidebar i{
    @apply mr-5;
}

.drag-drop-area{
    border-style: dashed;
    border-width: 2px;
    border-color: #6e6e6e;
}

.drag-drop-area>h1{
    text-align: center;
    color: #6e6e6e;
}

.txt-1{
    color: var(--txt-color-1);
}

.txt-2{
    color: var(--txt-color-2);
}

.border{
    border-width: var(--border-size);
}

.border-t{
    border-top-width: var(--border-size);
}

.border-b{
    border-bottom-width: var(--border-size);
}

.border-l{
    border-left-width: var(--border-size);
}

.border-r{
    border-right-width: var(--border-size);
}

.border-c1{
    border-color: var(--background-color-1);
}

.border-c2{
    border-color: var(--background-color-2);
}

.box-items{
    margin: 8px;
    box-shadow: 1px 1px 1px var(--border-color-1);
}

.rounded{
    border-radius: var(--border-radius);
}

.rounded-t{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.rounded-b{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.rounded-l{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.rounded-r{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.rounded-bl{
    border-bottom-left-radius: var(--border-radius);
}

.rounded-br{
    border-bottom-right-radius: var(--border-radius);
}

.rounded-tl{
    border-top-left-radius: var(--border-radius);
}

.rounded-tr{
    border-top-right-radius: var(--border-radius);
}
